{"endpoint_id":"ep-1","batch_id":"smoke-sample","agent_version":"edr-ingest-sample","payload":"QkFUMQEAAAC4AAAAtAAAABIEZXAtMRoLZGVtby10ZW5hbnQgRiiAgKix45/nyxcwkiFCCXNtb2tlLmV4ZVoMQzpcc21va2UuZXhlwgJ2DexROD8SOJqZGT7NzMw9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgtUMTA1OSxUMTA3MSAAKAEwgICoseOf58sXOJIhQglzbW9rZS5leGVKDEM6XHNtb2tlLmV4ZQ=="}
